<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.fyp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".Activity.DownloadActivityFinal"></activity>
        <activity android:name=".Activity.HomeActivity2" />
        <activity android:name=".Activity.HomeActivity" />
        <activity
            android:name=".SplashScreen"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="Downloader"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HistoryActivity"
            android:label="History "
            android:parentActivityName=".WebViewActivity" />
        <activity
            android:name=".YoutubeSignInActivity"
            android:label="Youtube-Sign-in "
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".WebViewActivity"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WebViewFacebookActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Activity.FacebookWebActivity"
            android:parentActivityName=".Activity.HomeActivity2" />
        <activity
            android:name=".WebViewInstaActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AboutActivity"
            android:label="About"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SettingActivity"
            android:label="Settings"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".DownloadActivity"
            android:label="Downloads"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme1" />
    </application>

</manifest>